<!DOCTYPE html>
<html lang="en">
<head>
      <%- include('partials/meta'); %>
      <title>Iced Mocha</title>
</head>
<body>
      <%- include('partials/recipename'); %>

      <section class="ingredients">
            <h2>Ingredients</h3>
            <ul>
                  <li>12 cups Water</li>
                  <li>3-6 Tbsp Coffee</li>
                  <li>3 Tbsp</li>
                  <li>1/4 cup Cocoa Powder</li>
                  <li>1 1/2 cups Sugar</li>
                  <li>3/4 cup Heavy Cream</li>
                  <li>Whipped Topping, optional</li>
                  <li>Cinnamon Sticks, optional</li>
                  <li>Mint Leaves, optional</li>
            </ul>
      </section>

      <section class="steps">
            <h2>Steps</h3>
            <ol>
                  <li>Add 12 cups of water to a standard coffee pot, and in the filter basket place 3 to 6 tablespoons of coffee, depending on how strong you want the finished coffee to be.</li>
                  <li>In a heat-proof half-gallon pitcher combine cocoa, sugar and cream. (Powdered creamer may be used instead of heavy cream, but increase the powdered measurement to 1 full cup.)</li>
                  <li>When the coffee is done brewing, simply pour into the pitcher and, with a slotted mixing spoon, whisk it around until blended.</li>
                  <li>Add 3 tbsp. vanilla extract for flavor and check for sweetness; individual taste varies. Cool, then refrigerate for 2 hours, pour over ice and serve.</li>
                  <li>Serve with whipped topping and cinnamon stick stirrers, and mint leaves in your glass. (optional)</li>
            </ol>
      </section>

      <%- include('partials/recipeimage'); %>

</body>
</html>